{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "ecmaFeatures": {
    "jsx": true,
    "objectLiteralShorthandMethods": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "quotes": [0],
    "new-parens": [1],
    "no-alert": [1],
    "handle-callback-err": [1],
    "strict": [1],
    "no-script-url": [0],
    "space-unary-ops": [0],
    "consistent-return": [0],
    "comma-dangle": 1,
    "no-mixed-requires": [1],
    "no-underscore-dangle": [0],
    "no-multi-spaces": [1],
    "no-unused-vars": [1],
    "key-spacing": [0],
    "no-empty": [1],
    "no-shadow": [0],
    "no-use-before-define": [0],
    "no-unused-expressions": [1],
    "no-new-func": [0],
    "new-cap": [0],
    "eqeqeq": [0],
    "curly": [0],
    "strict": [0],
    "no-new": [1],
    "eol-last": [1],
    "space-infix-ops": [1],
    "no-return-assign": [1],
    "comma-spacing": [1],
    "no-extra-boolean-cast": [1],
    "no-constant-condition": [1],

    "react/display-name": 0,
    "react/jsx-boolean-value": 1,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-quotes": 1,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 1,
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/require-extension": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/wrap-multilines": 1
  },
  "globals": {
    "describe": false,
    "chai": false,
    "beforeEach": false,
    "afterEach": false,
    "it": false
  }
}
